# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/tacoswebsite/FileContentIndex/0712cce5-a44f-460d-bc8b-d3b66d9bd837.vsidx
/.vs/tacoswebsite/FileContentIndex/4627b0b8-aa48-497a-96c6-6dc115f34836.vsidx
/.vs/tacoswebsite/FileContentIndex/1272dac0-4aef-41ed-8b8c-ca7b7b7b5c59.vsidx
/.vs/tacoswebsite/FileContentIndex/8442c26f-f9b2-469b-95e1-a2f3f104ca63.vsidx
/.vs/tacoswebsite/FileContentIndex/9a9a12b6-4df8-4251-a2f4-cf7dc8a32887.vsidx
/.vs/tacoswebsite/FileContentIndex/b5fb3f50-a4ab-44f6-92cf-2dce3c9438f7.vsidx
/.vs/tacoswebsite/FileContentIndex/fa44b07f-2e42-4fda-8c5c-c1c8cdcff07d.vsidx
/.vs/tacoswebsite/FileContentIndex/8f0a0736-42cc-4005-ad04-4227ab212d3f.vsidx
/.firebase
/.vs/tacoswebsite/FileContentIndex/0b55a57a-5ab0-415e-9902-a20fbe87dca6.vsidx
/.vs/tacoswebsite/FileContentIndex/25279f67-216d-40e9-bbc4-77c1b513eb23.vsidx
/.vs/tacoswebsite/FileContentIndex/3f5b7016-4777-4235-b15d-c19e8c29ed56.vsidx
/.vs/tacoswebsite/FileContentIndex/90c0ee3a-0307-42a7-8833-2d899f07d48e.vsidx
/.vs/tacoswebsite/FileContentIndex/7c45d942-fd5c-4b30-b4ab-de8919f232ce.vsidx
/.vs/tacoswebsite/FileContentIndex/3d7cc5d8-10d4-4cfb-bf93-085a4c071081.vsidx
/.vs/tacoswebsite/FileContentIndex/46b14617-b0c0-4f2b-8bd6-78160f1f49e2.vsidx
