.parent{

}
.item {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height:0;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.img-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.half-img-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.half-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    display:flex;
    
    flex-direction:column;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.roundedSeperator {
    border-top: 3px solid #f4e3c9;
    border-radius: 5px;
    width: 5%;
}

.shiftText{
    
}


/* medium screens */
@media all and (min-width: 600px){
    .img-item {
        width: 100%;
    }
    .half-img-item {
        width: 100%;
    }
    .half-item{
        width: 100%;
    }
    
}
/* large screens */
@media all and (min-width: 800px){

    .half-img-item {
        width: 50%;
    }    
    .img-item{
        width: 33.33%;
    }
    .half-item {
        width: 50%;
    }
    .shiftText {
        margin-right: 70vw;
    }
    
}
