.mid {
    background-color: green;
    display: grid;
    width: 80%;
    font-size: 10px;
    height: 5vw;
    

}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
}
.item {
    height: auto;
    flex-grow: 2;
    flex-shrink: 2;
    width:10px;
    height:5vw;
    
}
.navbar {
    
    font-family: 'Montserrat', sans-serif;
    display:flex;
    align-items:center;
    
}
    .navbar li {
        list-style: none;
        display: inline-block;
        margin: auto;
        
    }

        .navbar li a {
            text-decoration: none;
            color:black;
            font-size: 1vw;
            padding: 8px 20px;
        }

        .navbar liL::selection {
            background-color:purple;
        }
        .navbar li.active {
            color: green;
        }

.left {
    display: flex;
    width: 10%;
    height: 5vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
}

    .left a {
        text-decoration: none;
    }

    .left:hover {
        font-weight: bolder;
    }



/* medium screens */
@media all and (min-width: 600px) {
    
}
/* large screens */
@media all and (min-width: 800px) {

}