.mid {
    background-color: #FFFFFF;
    border-width: 2px;
    display: inline-block;
    width: auto;
    margin: auto;
    font-size: 10px;
}

.navbar {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
    .navbar li {
        list-style: none;
        
        display: inline-block;
        margin: auto;
    }

        .navbar li a {
            text-decoration: none;
            color:black;
            font-size: 10px;
            padding: 8px 20px;
        }

            .navbar li a:hover {
                color: red;
                border-radius: 2px;
                font-size: 18px;
            }




.right {
    background-color: #FFFFFF;
    display: inline-block;
    width: 8%;
    font-size: 18px;
    padding: 18px 26px;
    color: #F2EE9D;
    font-family: 'Montserrat', sans-serif;
}

    .right a {
        text-decoration: none;
    }

    .right:hover {
        font-weight: bolder;
    }

.left {
    background-color: #FFFFFF;
    display: inline-block;
    width: 17%;
    font-size: 1.2vw;
    padding: 18px 17px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

    .left a {
        text-decoration: none;
    }

    .left:hover {
        font-weight: bolder;
    }

ul.navigation {
    background: #fff;
}

ul.navigation li a {
    text-decoration: none;
}

    ul.navigation li a.on {
        background: yellow;
        padding: 2px 6px;
    }
