.App {
  text-align: center;
  min-width:0;
  min-height:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer {
    background-color: rgb(24,24,24);
    height: 110px;
    flex-direction: row;
    align-content: center;
    text-align: center;
    display: flex;
}

.column {
    margin:2px 2px 2px 2px;
    font-size:.8rem;
    flex-direction: column;
    margin: auto;
    color: white;
}

button {
    display: inline-block;
    font: normal normal 300 1.3em 'Open Sans';
    text-decoration: none;
    color: #6379a8;
    background-color: transparent;
    border: 1px solid #6379a8;
    border-radius: 100px;
    padding: .3em 1.2em;
    margin-top: 2vw;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #6379a8 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

    button:hover {
        color: white;
        background-color: white;
        background-position: -100% 100%;
    }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.parent {
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.item-text {
    text-shadow: 2px 2px black;
    color: white; 
    font-size: 40px; 
    font-weight: 400;
}

.item:hover {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    cursor:pointer;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.img-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
    .img-item:hover {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        filter: blur(2px);
    }

.half-img-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.half-item {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

body {
    font-family: 'Bebas Neue', sans-serif;

}


/* medium screens */
@media all and (max-width: 600px) {
    .img-item {
        width: 100%;
    }

    .half-img-item {
        width: 100%;
    }

    .half-item {
        width: 100%;
    }

    .item {
        width: 100%;
        height: 50vw;
    }
}
/* large screens */
@media all and (min-width: 800px) {

    .half-img-item {
        width: 50%;
    }

    .img-item {
        width: 33.33%;
    }

    .half-item {
        width: 50%;
    }
    .item {
        width: 33.33%;
        height: 25vw;
    }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.carousel-item{
    width:100%;
    height:100%;
}


.test{
    min-width:0;
    min-height:0;
    width:100%;
}

.main {
    text-align: center;
    background: deepskyblue;
    height: 100%;
    width: 100%;
}



.article {
    height: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 33%;
    display: grid;
    place-items: left;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

hr.rounded {
    border-top: 8px solid #f4e3c9;
    border-radius: 5px;
    width: 100%;
}

header {
    display:flex;
    font-size: 1rem;
    background-color: white;
    color: black;
    text-align:center;
    height: 40px;
    justify-content: space-between;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
