.App {
  text-align: center;
  min-width:0;
  min-height:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.carousel-item{
    width:100%;
    height:100%;
}

.item {
    flex-grow: 1;
    flex-shrink:1;
    min-width: 0;
}

.img-item {
    
}

.test{
    min-width:0;
    min-height:0;
    width:100%;
}

.main {
    text-align: center;
    background: deepskyblue;
    height: 100%;
    width: 100%;
}



.article {
    height: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 33%;
    display: grid;
    place-items: left;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.header {
    font-size: 80px;
    color: white;
    text-align: left;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
